<div class="hide-nav">
<div class="navbar-fixed">
<nav class="z-depth-0">
<div id="nav-bar" class="nav-wrapper">
  <a class="brand-logo" href="/places">Places & Spaces</a>
<ul class="right hide-on-med-and-down">
  <% if (locals.isLoggedIn) { %>
    <li><a class="color"  href="/logout">log out</a></li>
    <li><a class="color" href="/places/new">New</a></li>
    <li><a class="color" href="/users/<%= user._id %>"><%= locals.user.username %></a></li>
    <% } else { %>
      <li ><a class="color" href="/login">log in</a></li>
      <li ><a class="color" href="/register">register</a></li>
      <% } %>
    </ul>
  </div>
  </nav>
</div>
</div>
