

<div class="show-grid container">
  <div class="row">

  <%# <div class="col s2"></div>%>

  <%# <div class="col s8">%>

  <div class="row">
    <% places.forEach((place) => { %>
      <div class="col s2 img-holder">
      <a href="/places/<%= place.id %>">
      <img class="index-grid-img responsive-im" src="<%= place.image %>" alt="<%= place.name %>">
      </a>
      </div>
      <% }) %>
    </div>

  <%# </div>%>

  <%# <div class="col s2"></div>%>

</div>

</div>
