<form class="" action="/places" method="post">
  <div class="">
    <label for="name">Name</label>
    <input type="text" name="name" class="">
  </div>
  <div class="">
    <label for="details">Description</label>
    <input type="text" name="details" class="">
  </div>
  <%# <div class="">
    <label for="type">Type of Venue</label>
    <select type="text" name="type" id="">
      <option>
  </div>%>
  <div class="">
    <label for="image">image</label>
    <input type="text" name="image" id="image">
  </div>
  <div class="">
    <label for="address">address</label>
    <input type="text" name="address" value="">
  </div>
  <button type="submit" name="add">add</button>
</form>
