<h1>Add a New Place</h1>
<div class="container">
<div class="">
<form class="" action="/places" method="post">
  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" name="name" class="input-field">
  </div>
  <div class="input-field">
    <label for="details">Description</label>
    <input type="text" name="details" class="">
  </div>
  <div class="input-field">
    <label for="type">Type of Venue</label>
    <input type="text" name="type">
</div>
  <div class="input-field">
    <label for="image">image</label>
    <input type="text" name="image" id="image">
  </div>
  <div class="input-field">
    <label for="address">address</label>
    <input type="text" name="address" value="">
  </div>
  <button class="btn waves-effect waves-light btn-flat" type="submit" name="add">add</button>
</form>
</div>
</div>
