<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Project 2</title>
  <% include ./partials/stylesheets %>
  <% include ./partials/scripts %>
  </head>
  <body>
<header>
      <% include ./partials/navbar %>
    </header>
  </div>
    <main>
      <div class="container">
      <% for (const type in messages) {%>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
      </div>
    </main>
  </body>
</html>
