<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project 2</title>
    
  <% include ./partials/stylesheets %>
  <% include ./partials/scripts %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <main>
      <% for (const type in messages) {%>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>
    <footer>
      <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li id="mapView" class=="pure-menu-link">map view</li>
      </ul>
        </div>
    </footer>
  </body>
</html>
