
<div class="row">
<div id="floating-panel">
  <input id="address" type="textbox" value="London, UK">
  <input id="submit" type="button" value="Find a place">
</div>
<div id="map"></div>
</div>
<%# <div class="center-align">
  <button class="mapView btn-floating btn-large waves-effect waves-light center-aligned">map view</button>
</div>%>
