<h1>Log in</h1>

<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

<button class="btn waves-effect waves-light" type="submit" name="register">Login</button>
</form>
