* {
  box-sizing: border-box;
}
body {
  background: #FFFFFE;
  color: black;
  font-family: 'Josefin Sans', sans-serif;

  .container {
    width: 100%;  
    .row {
      margin-left: 2.25rem;
      margin-right: -.75rem;
  }
}

  h1{
    margin-bottom: 50px;
  }

  .place-img {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }

.music-margin {
  margin: 10px;
}


  .container {
    width: 900px;
  }
// #map {
//        height: 600px;
//        width: 100%;
//       }


  nav {
    background-color: white;

    .brand-logo{
      color: #CCCCCC;
    }

    .color {
      color: black;
      }

    a:hover {
      color: grey;
    }
  }
  a:link {
    text-decoration: none;
  }

  .img-holder {
    max-width: 140px;
    max-height: 140px;
    overflow: hidden;
    margin: 20px;
  }

  .index-grid-img {
    height: 140px;
    width: auto;
    min-width: 140px;
  }

}
.showtitle {
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  top: 200px;
  left: -12px;
  width: 100%;
  color: #FBFECB;
  font-size: 100px;
}


// #map {
//   height: 600px;
//   width: 100%;
// }

.section {
  height: 100vh;
  color: salmon;
}


.btn {
  color: #A39BA8;
}
#map-container {
  height: 100vh;
}

#map {
  height: 600px;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 597px;
  left: 23%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
